node_modules/
dist/
.DS_Store
*.log
.env
.env.local
.vscode/
.vercel/
.nitro/

game-app/.nuxt/
game-app/.output/

temp

# Foundry
contracts/cache/
contracts/out/
contracts/lib/
contracts/broadcast/
contracts/.env
